body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    padding-top: 100px;
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    
  }
  
  .picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  
  img {
    width: 200px;
    height: 200px;
    border-radius: 50px;
  }
  
  .name {
    margin-top: 10px;
  }
  